<div class="container mx-auto pl-3 pr-3">
  <div class="flex flex-row md:flex-row-reverse flex-wrap gap-5 justify-center place-items-center m-5">
    <img src="assets/images/home/imageOne.png" class=" flex max-w-60 max-h-60 rounded-full border-2 border-headerColor-default">
    <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default md:w-1/2">
      The Cadet Forces is a non-profit organisation for the youth of New Zealand which has existed continually since 1864, and in its present form in a partnership with the New Zealand Defence Force and locally appointed community organisations since 1971, making it New Zealand’s oldest youth organisation.
    </p>
  </div>

  <div class="flex flex-row flex-wrap gap-5 justify-center place-items-center m-5">
    <img src="assets/images/home/imageOne.png" class=" flex max-w-60 max-h-60 rounded-full border-2 border-headerColor-default">
    <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default md:w-1/2">
      Our aim is to instil leadership and honourable values in our youth so as to develop and enable self-disciplined, confident and responsible young New Zealanders, who come out feeling stronger than ever, and are armed with skill sets that will last them a lifetime. Cadets have the opportunity to take part in unique adventurous, fulfilling and educational activities in a military-like environment.
    </p>
  </div>

  <div class="flex flex-row md:flex-row-reverse flex-wrap gap-5 justify-center place-items-center m-5">
    <img src="assets/images/home/imageOne.png" class="max-w-60 max-h-60 rounded-full border-2 border-headerColor-default">
    <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default md:w-1/2">
      Through these activities, cadets get the chance to develop a sense of purpose, responsibility, self-confidence, self-respect, self-discipline, self-reliance, leadership ability, and commitment to voluntary service. Many former cadets comment that the cadet experience helped to develop them as an individual, achieve personal growth, leadership qualities and provide them with a sense of community service.
    </p>
  </div>
</div>
