<div class="flex flex-col bg-white max-w-md m-3 p-5 rounded-md shadow-lg place-items-center">

    <img
      class="max-w-60 max-h-60 rounded-full border-2 border-headerColor-default"
      [src]="mainImage">
  <div class="flex-1">
    <h4 class="text-2xl font-medium text-center text-headerColor-default uppercase">{{mainHeaderText}}</h4>
    <p class="text-base text-center text-textColor-default">
      {{mainText}}
    </p>
    <p class="text-sm text-center text-textColor-default">
      {{subText}}
    </p>
  </div>
</div>
