<div class="w-full h-auto bg-footerColor-default text-textColor-dark p-3">
  <div class="container mx-auto">
    <a href="mailto: ts.waikato@cadetforces.org.nz">
      <span class="material-icons text-textColor-dark pr-1 pl-1">
        email
      </span>
    </a>
    <a href="https://www.fb.com/tswaikato">
      <span class="material-icons text-textColor-dark pr-1 pl-1">
        facebook
      </span>
    </a>
    <a href="https://www.cadetnet.org.nz/privacy-policy-for-cadetnet/#:~:text=New%20Zealand%20Cadet%20Forces'%20Privacy%20Statement&text=We%20can%20identify%20you.&text=We%20can%20manage%20your%20progression,are%20ongoing%2C%20disciplinary%20or%20otherwise.&text=We%20can%20award%20any%20credits%20you%20earn%20through%20NZCF.&text=We%20can%20contact%20you%20and%20return%20you%20home%20in%20an%20emergency.">
      <p class="text-sm">Please visit this page for our privacy statement</p>
    </a>
  </div>
</div>
