<div class="container mx-auto pl-3 pr-3">

  <h3 class="text-center font-semibold text-4xl text-headerColor-default pb-3 uppercase">How to Find Us</h3>
  <div class="grid gap-5 lg:grid-cols-2 grid-cols-1 place-items-center">
    <div class="place-self-end w-8/12">
      <img src="assets/images/contact/cadetLocationMap.png">
    </div>
    <div>
      <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
        You can find us at <a class="text-headerColor-default hover:underline" href="https://www.google.co.nz/maps/place/6+Cambridge+Road,+Hamilton+East,+Hamilton+3216/@-37.7981262,175.3067215,17z">6 Cambridge Road Hamilton</a>, where we hold our weekly parade nights, school term Tuesdays at 18:00 and 21:15. Alternatively, you can follow the link below to fill our form or get in contact through email at <a class="text-headerColor-default hover:underline" href="mailto: ts.waikato@cadetforces.org.nz">ts.waikato@cadetforces.org.nz</a>.
      </p>
      <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=FunhicgNyEWOGcqTWnV6VIXaTrMLjZxCkpylwC_VBV9UMkVaRUo0VTMzNjdUMEtRMkdKQk5LRDlEMCQlQCN0PWcu&amp;embed=true">
        <p class="text-2xl hover:underline font-medium leading-relaxed text-center font-sans text-headerColor-default max-h-96 max-w-sm uppercase">
          Contact Us
        </p>
      </a>
    </div>
  </div>

  <!--<iframe
    _ngcontent-kfr-c9=""
    allowfullscreen=""
    mozallowfullscreen=""
    msallowfullscreen=""
    src="https://forms.office.com/Pages/ResponsePage.aspx?id=FunhicgNyEWOGcqTWnV6VIXaTrMLjZxCkpylwC_VBV9UMkVaRUo0VTMzNjdUMEtRMkdKQk5LRDlEMCQlQCN0PWcu&amp;embed=true"
    webkitallowfullscreen=""
    scrolling="no"
    class="w-full h-contactus_default md:h-contactus_md">
  </iframe>-->
</div>
