<div class="bg-cover bg-no-repeat bg-center bg-headerImage 2xl:container 2xl:mx-auto" style="height: 500px">
</div>
<div class="container mx-auto">
  <h1 id="tswaikato_title" class="text-center text-6xl font-bold text-headerTextColor-default pb-3">Waikato Navy Cadets</h1>
  <nav class="flex justify-center text-2xl text-textColor-default">
    <div class="text-gray-700 text-center m-2">
      <a [class.font-bold]="home === true" routerLink="">Home</a>
    </div>
    <div class="text-gray-700 text-center m-2">
      <a [class.font-bold]="join === true" routerLink="join">Join</a>
    </div>
    <div class="text-gray-700 text-center m-2">
      <a [class.font-bold]="contact === true">Contact Us</a>
    </div>
  </nav>
</div>
