<div class="bg-cover bg-no-repeat bg-center bg-headerImage" style="height: 500px">
</div>
<div class="container mx-auto">
  <h1 id="tswaikato_title" class="text-center text-6xl font-bold text-headerTextColor-default pb-3">Waikato Navy Cadets</h1>
  <nav class="flex flex-row flex-wrap justify-center text-2xl text-textColor-default">
    <div class="text-gray-700 text-center m-2 underline hover:text-hoverColor">
      <a [ngClass]="getBoldClass('/')" routerLink="/">Home</a>
    </div>
    <div class="text-gray-700 text-center m-2 underline hover:text-hoverColor">
      <a [ngClass]="getBoldClass('/join')" routerLink="/join">Join</a>
    </div>
    <div class="text-gray-700 text-center m-2 underline hover:text-hoverColor">
      <a [ngClass]="getBoldClass('/contact')" routerLink="/contact">Contact Us</a>
    </div>
  </nav>
  <div class="text-gray-700 text-center m-2 underline hover:text-hoverColor">
    <a [ngClass]="getBoldClass('/contact')" href="https://tswaikato.sharepoint.com/sites/TSWaikato">TS Waikato Sharepoint</a>
  </div>
</div>
