<img src="assets/images/navigation/header.png" class="object-top object-none h-full min-w-full" alt="Waikato navy cadet group photo">
<div class="container mx-auto">
  <h1 class="text-center text-6xl font-bold text-headerTextColor-default pb-3">Waikato Navy Cadets</h1>
  <div class="flex justify-center text-2xl text-textColor-default">
    <div class="text-gray-700 text-center m-2">
      <a>Home</a>
    </div>
    <div class="text-gray-700 text-center m-2">
      <a>Join</a>
    </div>
    <div class="text-gray-700 text-center m-2">
      <a>Contact Us</a>
    </div>
  </div>
</div>
