<div class="container mx-auto pl-3 pr-3">
  <p class="text-center text-2xl font-medium text-textColor-default">
    Are you between the ages of 13 to 15 years old?
  </p>
  <a href="https://ncv.microsoft.com/RgQmNMnF8K">
    <p class="uppercase text-center text-2xl font-medium text-headerColor-default hover:underline">
      Register Now
    </p>
  </a>
  <div class="lg:flex  justify-center pt-3 pb-5">
    <div class="lg:w-3/5">
      <div class="aspect-w-16 aspect-h-9">
        <iframe src="https://www.youtube.com/embed/_-FwAhNq4b0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="grid gap-5  grid-cols-1 md:grid-cols-2 place-items-center">

    <div class="gap-5 max-w-sm lg:place-self-end">
      <div>
        <img class="rounded-t-2xl" src="assets/images/join/imageone.png">
      </div>
      <div>
        <h3 class="text-2xl font-sans font-semibold text-headerColor-default uppercase">Leadership</h3>
        <p class="text-base leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
          Leadership is a core function of our organisation; Cadets begin at the bottom and over time move their way up the ranks. This gives real world experience to managing people, a skill that is greatly sought after by employers in the future and something that the school system doesn’t actively offer. After 2 – 3 years involved cadets will spend time confirming the skills they have learned through a week long course typically held at a defence establishment, this course is fully paid by the New Zealand Defence Force.
        </p>
      </div>
    </div>

    <div class="gap-5 max-w-sm lg:place-self-start">
      <div>
        <img class="rounded-t-2xl" src="assets/images/join/imagetwo.png">
      </div>
      <div>
        <h3 class="text-2xl font-sans font-semibold text-headerColor-default uppercase">Sailing</h3>
        <p class="text-base leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
          A large element of a Navy Cadet career will be learning skills on the water. We use primarily use sailing to promote and encourage teamwork and provide our leaders a chance to practice their skills in pressured situations, this is training is strengthened through weekend activities and National Competitions. The pinnacle event for a cadet is the National Regatta where our unit is put to the test in several challenges based around our training syllabus to see which unit is the best in the country.
        </p>
      </div>
    </div>

    <div class="gap-5 max-w-sm lg:place-self-end">
      <div>
        <img class="rounded-t-2xl" src="assets/images/join/imagethree.png">
      </div>
      <div>
        <h3 class="text-2xl font-sans font-semibold text-headerColor-default uppercase">Firearms Training</h3>
        <p class="text-base leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
          Cadets are trained in the safe handling and operation of firearms, before handling any firearm cadets are fully trained by qualified officers in the firearms safety laws. During a Cadet’s time they will likely partake in in many range days and have the chance to competitively shoot. NZCF are only authorised to use .22 rifles and our targets are never anything more than circular.
        </p>
      </div>
    </div>

    <div class="gap-5 max-w-sm lg:place-self-start">
      <div>
        <img class="rounded-t-2xl" src="assets/images/join/imagefour.png">
      </div>
      <div>
        <h3 class="text-2xl font-sans font-semibold text-headerColor-default uppercase">Teamwork</h3>
        <p class="text-base leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
          All our training focuses the Cadets to work together to grow as a team, from uniform care to drill (marching) a Cadet will need to lean on others for support and help others so that they can all achieve a common goal. This results in a strong sense of belonging and comradeship. This is an important life skill to be exposed to as it helps with employment and University Projects.
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 place-items-center pt-5">
    <div class="gap-5 max-w-sm">
      <div>
        <img class="rounded-t-2xl" src="assets/images/join/officers.png">
      </div>
      <div>
        <h3 class="text-2xl font-sans font-semibold text-headerColor-default uppercase">NZCF Officers</h3>
        <p class="text-base leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
          NZCF officers are all volunteers that truly believe in the value this organisation brings to our communities and next generation of New Zealanders. If you think you would like to get involved as a volunteer / officer please email us ts.waikato@cadetforces.org.nz
        </p>
        <p class="text-xs font-sans text-textColor-default pt-2">
          All NZCF Officers are subject to our NZCF 7 Criminal Records check process and this is refreshed every 3 years.
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div class="text-center place-self-end">
    <span class="material-icons text-5xl">
    description
  </span>
      <p>Enrolment Form</p>
    </div>

    <div class="text-center place-self-start">
    <span class="material-icons text-5xl">
    description
  </span>
      <p>Ts Waikato Infomation Book</p>
    </div>
  </div>

</div>
