<div class="container mx-auto pl-3 pr-3">
  <div class="flex flex-row flex-wrap gap-5 justify-center place-items-center">
    <!--<div>
      <img src="assets/images/home/imageOne.png" class="max-h-96" alt="Cadets line up">
    </div>-->
    <div>
      <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default">
        Dare to Take the Challenge...

        The New Zealand Cadet Forces (NZCF or Cadet Forces) is a voluntary, uniformed organisation which provides military-style leadership, personal development opportunities and adventure based training to youth aged between 13 and 19 years old. Through its three branches- Sea Cadets, Army Cadets and Air Cadets- the Cadet Forces provides youth with a hands on nationally coordinated training program which offers challenges and opportunities that no other organisation can; while a number of local, regional and national courses provide further experience and qualifications in specific training areas.


        The Cadet Forces is a non-profit organisation for the youth of New Zealand which has existed continually since 1864, and in its present form in a partnership with the New Zealand Defence Force and locally appointed community organisations since 1971, making it New Zealand’s oldest youth organisation.


        Our aim is to instil leadership and honourable values in our youth so as to develop and enable self-disciplined, confident and responsible young New Zealanders, who come out feeling stronger than ever, and are armed with skill sets that will last them a lifetime. Cadets have the opportunity to take part in unique adventurous, fulfilling and educational activities in a military-like environment. Through these activities, cadets get the chance to develop a sense of purpose, responsibility, self-confidence, self-respect, self-discipline, self-reliance, leadership ability, and commitment to voluntary service. Many former cadets comment that the cadet experience helped to develop them as an individual, achieve personal growth, leadership qualities and provide them with a sense of community service.



        All of the Cadet Force Commissioned Officer staff and civilian instructors are volunteers with the organisation, who are appointed to their rank following additional suitability and security checking and training. Promotions are gained through experience, qualifying on specific training courses, as well as instructing and attending Cadet Courses as directing staff.
      </p>
    </div>
  </div>
</div>
