<div class="container mx-auto pl-3 pr-3">
  <div class="flex flex-row flex-wrap gap-5 justify-center place-items-center">
    <h3 class="text-xl text-textColor-default font-bold">Dare to Take the Challenge...</h3>

    <div class="flex flex-row flex-wrap gap-5 justify-center place-items-center m-5">
      <img src="assets/images/home/imageOne.png" class=" flex max-w-60 max-h-60 rounded-full border-2 border-headerColor-default">
      <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default md:w-1/2">
        The New Zealand Cadet Forces (NZCF or Cadet Forces) is a voluntary, uniformed organisation which provides military-style leadership, personal development opportunities and adventure based training to youth aged between 13 and 19 years old. Through its three branches- Sea Cadets, Army Cadets and Air Cadets- the Cadet Forces provides youth with a hands on nationally coordinated training program which offers challenges and opportunities that no other organisation can; while a number of local, regional and national courses provide further experience and qualifications in specific training areas.
      </p>
    </div>

    <div class="flex flex-row flex-wrap gap-5 justify-center place-items-center m-5">
      <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default md:w-1/2">
        All of the Cadet Force Commissioned Officer staff and civilian instructors are volunteers with the organisation, who are appointed to their rank following additional suitability and security checking and training. Promotions are gained through experience, qualifying on specific training courses, as well as instructing and attending Cadet Courses as directing staff.
      </p>
    </div>
  </div>
</div>
