<div class="container mx-auto pl-3 pr-3">
  <div class="grid lg:flex gap-5 lg:gap-20 grid-cols-1 md:grid-cols-2 justify-center place-items-center">
    <div>
      <img src="assets/images/home/imageOne.png" class="max-h-96" alt="Cadets line up">
    </div>
    <div>
      <p class="text-lg leading-relaxed text-justify font-sans text-textColor-default max-h-96 max-w-sm">
        Training Ship Waikato, also known as Waikato Navy Cadet’s, is one of three Corps of the New Zealand Cadet Forces. We aim to prepare young New Zealanders for tomorrow through our military-based training model and values. Including content not often covered in schools, such as leadership, instructional technique, firearms training, teamwork, plus much more.
      </p>
    </div>
  </div>
</div>
